@media only screen and (max-width :700px){
    h1{
        font-size: 35px;
    }
    /* navbar */
    .toggle-btn i{
        display: block;
        cursor: pointer;
    }
    .brand img{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 30px;
    }
    .navbar{
        background: #E9F9FF;
        height: 100vh;
        flex-direction: column;
        display: none;
    }
    .mobile-nav{
        display: flex;
    }
    .nav-list ul{
        flex-direction: column;
    }
    .nav-list ul li{
        margin-top: 30px;
    }
    .header{
        height: 100%;
        margin-top: 120px;
    }
    .header .row{
        flex-direction: column;
    }
    .header .col-1 {
        padding: 20px;
    }
    .header .col-2 img{
        max-width: 90%;
    }
    .grid-wrapper{
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    }
    .grid-box{
        padding: 10px;
    }
    .skills{
        height: 100%;
    }
    .portfolio .title{
        text-align: center;
    }
    .portfolio .title .ctn-title{
        flex-direction: column;
    }
    .testimonials .grid-box{
        margin-bottom: 20px;
    }
    .testimonials .grid-box img{
        top: -15%;
        left: 38%;
    }
    .grid-content{
        margin-top: 70px;
    }
    .contact .container{
        padding: 10px;
    }
    .contact .container h1{
        font-size: 20px;
    }
    .contact .quick-links{
        flex-direction: column;
    }
    .contact .quick-links ul li{
        margin: 0 5px;
    }
    .contact .quick-links img{

    }
}